[viewBag]
==
<h2>Файный чай</h2>

<p>
    <img class="left" src="{{ 'assets/images/img-mob.jpg' | theme }}" alt="">
    <span class="show_more">
        <span class="hide">
            Качественный чай из Китая во всем его разнообразии,
            внимательное отношение, квалифицированные
            консультации, прекрасный сервис - все это
            получает каждый наш клиент. Мы действительно
            любим то, чем занимаемся, рады поддерживать и
            развивать чайную культуру в Украине, делиться
            нашими знаниями и предлагать продукт отличного
            качества. Заказать китайский чай в нашем каталоге
            – значит открыть для себя мир чайного богатства и
            великолепия! Добро пожаловать в нашу чайную страну!
            <br><br>
            Где можно купить китайские чаи в Киеве и Украине?<br>
            Сегодня много интернет-ресурсов предлагают купить
            китайские чаи в Киеве и Украине. Вопрос в
            следующем: заказав китайский чай наугад, насколько
            Вы будете уверены в его натуральности? К сожалению,
            на рынке нашей страны существует множество подделок,
            имитирующих оригинальное сырье. Получить суррогат
            вполне реально. Как оградить себя от подобных
            неприятностей?
            <br><br>
            <img class="right" src="{{ 'assets/images/img2-mob.jpg' | theme }}" alt="">
            Купить китайский чай в интернет-магазине «Puer
            Shop» можно небольшой порцией и убедиться в его
            исключительности. В каталоге компании Вы найдете
            более 100 видов лучших чайных сортов, покоряющих
            многогранными вкусами и ароматами. Попробовав
            пуэр, улун либо черный чай, заказанный в
            интернет-магазине «Puer Shop», Вы сможете
            удостовериться в его подлинности, получив
            массу положительных эмоций от освежающего
            чаепития.
            <br><br>
            Стоимость китайского чая в Киеве и
            Украине разнообразна. Наша позиция – доступный
            ценовой сегмент для каждой семьи. Какая цена на
            китайский чай вы узнаете перейдя в каталог.
            Оценив каталог, Вы сможете почувствовать
            значительную разницу с другими магазинами.
            Для постоянных покупателей действует бонусная
            система, помогающая постоянно экономить средства
            на покупку изысканных и целебных напитков. Каждый
            из нас приветствует личную экономию, позволяющую
            китайский чай купить в Украине по низшей цене.
            Осуществив покупку у нас, Вы поймете, в чем
            превосходство элитных душистых нектаров Поднебесной!
            Сотрудники интернет-магазина, увлеченные чайной
            тематикой, помогут Вам лично определиться с выбором,
            предоставив исчерпывающую информацию на любой вопрос.
        </span>
        <span class="read_more">Читать полностью</span>
    </span>
</p>